<html ng-app="myApp">
	<body ng-controller="myCtrl">
		<div>
			<form ng-submit="getData(characterFilter)">
				<input type="text" placeholder="Search By Character" ng-model="characterFilter" />
			</form>
			<ul ng-repeat="character in characters | filter: characterFilter">
				<li>Name:  {{character.name}}</li>
				<li></li>
			</ul>
		</div>



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
